


      <div class="card payment" style="height: 400px;">
        <button class="btn-success "><span> Available Payment options</span> </button> <br><br>
        <table aria-colspan="2" width="300px">
          <tr>
            <td><input type="radio" name="paycheck"  checked="checked" value="Card Payment"></td>
            <td><span class="badge" style="padding-left: 54px; font-size: 20px;  color:#6495ed">Card Payment</span></td>
          </tr>
          <tr>
            <td><input type="radio" name="paycheck"   value="Card Payment"></td>
            <td><span class="badge" style="padding-left: 54px; font-size: 20px;  color: #6495ed">Net-Banking</span></td>
          </tr>
          <tr>
            <td><input type="radio" name="paycheck"  value="Card Payment"></td>
            <td><span class="badge" style="padding-left: 54px; font-size: 20px; color: #6495ed">Paytm</span></td>
          </tr>

        </table>
      </div>
     <!--   <div class="radio" style="float: left; width: 300px; padding-left: 0px">

        </div>
        <br>
        <div class="radio" style="float: left; width: 300px; padding-left: 0px">
          <label><input type="radio" name="paycheck"  value="Net-Banking"><span class="badge" style="padding-left: 54px">Net-Banking</span></label><br>
        </div>
        <div class="radio" style="float: left; width: 300px; padding-left: -30px">
          <label><input type="radio" name="paycheck"  value="Paytm"><span class="badge" style="padding-left: 54px">Paytm</span></label>
        </div>
      </div> -->
