<html><head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
<body>

<div style="padding-left: 55px">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active"><a routerLink="kittie">Home</a></li>
          <li routerLinkActive="active"><a routerLink="buy">Payment</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
        </ul>
      </div>
    </div>

  </nav>
</div>

<router-outlet></router-outlet>
</body></html>
